@media screen and (max-width: 480px){
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video{
        width: auto;
        padding: 5px;
    }
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }

    .lista-beneficios, .imagem-beneficios{
        width: 100%;
    }

    .produtos li {
        display: block;
        margin: 0 20px;
    }
}