body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px; /*Largura padrão da web*/
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;

}

nav li{
    display: inline; /*Uma linha*/
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase; /*colocando o texto em maiúsculo*/
    color: black;
    font-weight: bold; /*Negrito*/
    font-size: 22px;
    text-decoration: none;

}

nav a:hover{
    color: blueviolet;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0; /*Primeiro: cima e baixo. Segundo: lados*/
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%; /*Para cada elemento terá 30*/
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px dotted black;
    border-radius: 8px;
}

.produtos li:hover{
    border: 2px dotted blueviolet;
}

.produtos li:active{
    border: 2px solid green;
}

.produtos li:hover h2{
    font-size: 30px;
}

.produtos h2{
    font-size: 26px;
    font-weight: bold;
}


.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url("/Barbearia/imagens/bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: white;
    font-size: 13px;
    margin-top: 20px;
}