
body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px; /*Largura padrão da web*/
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;

}

nav li{
    display: inline; /*Uma linha*/
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase; /*colocando o texto em maiúsculo*/
    color: black;
    font-weight: bold; /*Negrito*/
    font-size: 22px;
    text-decoration: none;

}

nav a:hover{
    color: blueviolet;
    text-decoration: underline;
}

form{
    margin: 40px 40px;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 15px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: blueviolet;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    transition: 400ms;
    cursor: pointer;
}
.enviar:hover{
    background: rgb(81, 1, 116);
    transform: scale(1.1);
}

table{
    margin: 20px 0 40px 40px;
    width: 20%;
    
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 15px 8px;
    text-align: center;
}

footer{
    text-align: center;
    background: url("/Barbearia/imagens/bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: white;
    font-size: 13px;
    margin-top: 20px;
}